.no-scroll {
    overflow-y: hidden;
}
.header__mobile {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.header__mobile_button::before,
.header__mobile_button::after,
.header__mobile_button {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fff;
  transition: 0.4s;
  z-index: 3;
}
.header__mobile_button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__mobile_button::before {
  content: '';
  top: -12px;
}
.header__mobile_button::after {
  content: '';
  top: 12px;
}
.header__mobile_active .header__mobile_button {
    background-color: transparent;
}
.header__mobile_active .header__mobile_button::before {
    top: 0;
    transform: rotate(45deg);
}
.header__mobile_active .header__mobile_button::after{
    top: 0;
    transform: rotate(-45deg);
}
.header__mobile_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
.header__mobile_active .header__mobile_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .header__main {
        background-position: left center;
    }
    .social__group_column {
        left: 5%;
    }
    .banner__header {
        width: 820px;
    }
    .banner__collection {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .range-image {
        width: 365px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .hookah-union, .hookah-maklaud, .hookah-koress {
        background-size: 110%;
    }
    .hookah-totem {
        background-size: 80%;
    }
    .description__post {
        margin-left: 460px;
    }
    .contacts__wrapper {
        background-size: 30%;
        background-position: 30px 90px;
    }
    .footer__main .container {
        justify-content: space-around;
    }
}
@media (max-width: 920px) {
    .header__logo h1 {
        margin-left: 35px;
        width: 150px;
    }
    .description__post {
        margin-left: 300px;
    }
    .header__link {
        font-size: 22px;
    }
    .btn_fix {
        width: 200px;
        height: 65px;
        line-height: 65px;
        font-size: 22px;
    }
    .banner__header {
        width: 680px;
    }
    .banner__title h2 {
        font-size: 90px;
    }
    .collection__image {
        margin-right: 0;
        margin-bottom: 25px;
        width: 300px;
    }
    .btn_black {
        margin-left: 30px;
    }
    .social__group_column {
        left: 3%;
    }
    .social-btn {
        width: 30px;
        height: 30px;
    }
    .contacts__wrapper {
        background-position: 43px 180px;
    }
    .contacts__item img {
        left: 580px;
    }
}

@media (max-width: 800px) {
    .header__navigation {
        justify-content: space-between;
        align-items: center;
    }
    .header__mobile {
        display: block;
    }
    .header__menu {
        display: none;
        padding-top: 30px;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;       
        background-color:#e71beaf6;
    }
    .header__list {
        display: flex;
        flex-flow: column;
        margin-top: 30px;
    }
    .header__link {
        margin-bottom: 10px;
    }
    .header__menu_active {
        display: block;
    }
    .header__link_active a {
        color: #000;
    }
    .header__link a:hover{
        color: #000;
    }
    .promo-title {
        font-size: 80px;
    }
    .banner__header {
        width: 480px;
    }
    .banner__title h2 {
        font-size: 80px;
    }
    .description__post {
        margin: auto;
    }
    .contacts__wrapper {
        background-position: 5px 185px;
    }
    .contacts__item img {
        left: 460px;
    }
    .social__group_row a {
        width: 25px;
        height: 25px;
    }
    .footer__main .container {
        justify-content: space-between;
    }
}

@media (max-width: 720px) {
    .social__group_column {
        left: 2%;
    }
    .btn_fix {
        width: 185px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        right: 2%;
    }
    .description__post {
        width: 470px;
        height: 330px;
    }
    .btn_white {
        top: 310px;
        left: 245px;
    }
    .contacts__wrapper {
        background-position: 5px 220px;
    }
}

@media (max-width: 560px) {
    .header__main {
        height: 560px;
    }
    .header__navigation {
        margin-bottom: 50px;
    }
    .header__menu {
        width: 100%;
    }
    .header__logo {
        z-index: 3;
    }
    .header__list {
        margin-top: 100px;
        margin-left: 30px;
    }
    .header__link {
        width: 80%;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
    }
    .promo {
        width: 100%;
    }
    .promo-title {
        margin: 0;
        font-size: 62px;
    }
    .social__group_column,  .btn__wrapper{
        display: none;
    }
    .banner__header {
        width: 340px;
    }
    .description__post {
        width: 410px;
        height: 290px;
    }
    .btn_contacts {
        font-size: 80px;
    }
    .contacts__item img {
        left: 352px;
    }
}