html,body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* button */
.btn__link {
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    background: #181818;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;   
    cursor: pointer;
}
.btn_transparent {
    background: none;
    color: #ffffff;
    border: 3px solid #ffffff;
}
.btn_transparent:hover {
    background: #ffffff;
    color: #000000;
}
.btn_transparent:active {
    background: #ffffff;
    color: #000000;
    opacity: 0.3;
}
.btn_fix {
    position: fixed;
    right: 4%;
    bottom: 2%;
    width: 250px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    text-transform: none;
    box-shadow: 0 0 5px #ffffff;
    z-index: 10;
}
.btn_black {
    margin: 0;
    margin-left: 5px;
    background: #000000;
    color: #ffffff;
}
.btn_black:hover {
    background: none;
    color: #000000;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    border: 3px solid #000000;
}
.btn_black:active {
    background: #ffffff;
    color: #000000;
    opacity: 0.3;
}
.btn_white {
    position: absolute;
    top: 370px;
    left: 270px;
    margin: 0;
    margin-left: 5px;
    background: #ffffff;
    color: #000000;
}
.btn_white:hover {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    border: 3px solid #000000;
}
.btn_black:active {
    opacity: 0.3;
}

/* header */
.header__main {
    margin-bottom: 100px;
    min-height: 700px;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header__logo h1 {
    margin: 0;
    margin-right: 50px;
    width: 170px;
    height: 70px;
    text-align: center;
    font-size: 60px;
    font-weight: 700; 
    background-color: #ffffff;
}
.header__logo h1 span {
    font-size: 45px;
    vertical-align: top;
    border-bottom: 5px solid #e61bea;
}
.nav-link {
    color: #ffffff;
    font-size: 18px;
}

.nav-link.link-active{
    color: #ffffff;
    text-decoration: underline;
}

.nav-link:hover {
    color: #ffffffa1;
}

/*breadcrumbs*/
.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    list-style: none;
    font-size: 0;
}
.breadcrumbs li {
    position: relative;
    display: inline-block;
    color: #000000;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
}
.breadcrumbs li:first-child{
    font-weight: 600;
}
.breadcrumbs li:last-child{
    margin-left: 5px;
}
.breadcrumbs a {
    margin-right: 5px;
    color: #000000;
    text-decoration: none;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.breadcrumbs a:active {
    text-decoration: underline;
    opacity: 0.3; 
}

/* promo */
.promo-title {
    margin-bottom: 80px;
    color: #ffffff;
    text-align: center;
    font-size: 110px;
    line-height: 80%;
    font-weight: 700;
    text-transform: uppercase;
}
.promo-title span {
    color: #ffebcd
}

/* banner */
.banner__wrapper {
    margin-bottom: 100px;
}

.banner__shop {
    min-height: 950px;
}

.banner__header {
    margin: auto;
    margin-bottom: 60px;
    height: 350px;
    width: 950px;
    background-color: #ededed;
    position: relative;
    background-image: url("../img/collection.png");
    background-repeat: no-repeat;
    background-size: 62% ;
    background-position: right center;
}
.banner__title {
    position: absolute;
    top: 25px;
    left: -60px;
    width: 450px;
}
.banner__title h2 {
    margin: 0;
    margin-bottom: 20px;
    color: #181818;
    text-align: left;
    font-size: 100px;
    line-height: 80px;
    font-weight: 700;
    text-transform: lowercase;
}
.banner__title span {
    color: #e61bea;
}
.banner__collection {
    display: flex;
    gap: 24px;
}
.banner__collection_inner {
    flex-wrap: wrap;
}
.collection__image {
    width: 250px;
    height: 400px;
    background-color: #ededed;
}
.banner__collection {
    justify-content: center;
}
.banner__collection div.hookah-koress {
    margin-right: 0;
} 
.banner__collection .collection__image:hover {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
    border: 8px solid #000000;
}
.hookah-union {
    background-image: url("./../img/union.png");
    background-repeat: no-repeat;
    background-size:  130%;
    background-position: center center;
}
.hookah-totem {
    background-image: url("./../img/totem.png");
    background-repeat: no-repeat;
    background-size:  100%;
    background-position: center center;
}
.hookah-maklaud {
    background-image: url("./../img/maklaud-x.png");
    background-repeat: no-repeat;
    background-size:  130%;
    background-position: center center;
}
.hookah-koress {
    background-image: url("./../img/koress-K3.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
}

/*product*/
.product-hookah  .container{
    display: table;
    clear: both;
    content: "";
}
.product-hookah .range-image {
    float: left;
    width: 500px;
    height: 800px;
    margin-right: 20px;
}
.product-hookah .range-image:hover {
    border: none;
}
.product-hookah .information {
    float: right;
    width: 500px;
    text-align: justify;
}
.product-hookah .information h2 {
    margin-top: 0;
    margin-bottom:5px;
    font-size: 26px;
    font-weight: 500;
}
.product-hookah .information h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}
.product-hookah .information p.price {
    margin: 15px 0;
    font-size: 30px;
}
.product-hookah .information .btn-buy {
    border: 3px solid #000000;
}
.product-hookah .information .btn-buy:hover {                                                                                                                           
    background: #000000;
    color: #ffffff;
}
.product-hookah .information h4 {
    font-weight: 600;
    font-size: 20px;
}
.product-hookah .information p {
    font-size: 18px;
    line-height: 24px;
}
.product-hookah .information-contact {
    float: left;
    width: 450px;
    margin:0;
    font-size: 18px;
    line-height: 30px;
}
.product-hookah .information-contact p {
    margin: 0;
}
.product-hookah .information-contact p:first-child {
    margin: 24px 0;
}

/* description */
.description__wrapper {
    padding-top: 140px;
    min-height: 650px;
    background-image: url("../img/bg-description.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.description__post {
    position: relative;
    margin-left: 600px;
    width: 550px;
    height: 400px;
    background: #181818;
}
.description__text {
    margin: auto;
    padding-top: 150px;
    width: 300px;
    height: auto;
    color: #ffffff;
    text-align: left;
}
.description__subtitle {
    position: absolute;
    top: 50px;
    left: -70px;
    margin: 0;
    color: #ffffff;
    text-align: left;
    font-size: 100px;
    line-height: 80px;
    font-weight: 700;
    text-transform: lowercase;
}

/* contact */
.contacts__wrapper {
    min-height: 450px;
    background-color: #ffffff;
    background-image: url("./../img/icons/contacts-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80px 90px;
}
.contacts__item {
    position: relative;
}
.contacts__link {
    display: block;
    margin: auto;
    padding-top: 150px;
    width: 500px;
    height: auto;
    background-color: transparent;
    color: #000000;
    font-size: 100px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
}
.contacts__link:hover {
    color: #e61bea;
}
.contacts__item img {
    position: absolute;
    width: 180px;
    height: 200px;
    top: 80px;
    left: 680px;
}

/*contact-form*/
.contact-form {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}
.contact-form .container {
    width: 800px;
}
.contact-form .contact-number h2, .form-card h2 {
    text-align: center;
    margin-bottom: 25px;
}
.contact-form .contact-number {
    font-size: 18px;
    margin-bottom: 30px;
}
form {
    margin: auto;
    padding-top: 15px;
    border: 2px solid #181818;
    width: 650px;
}
.form-card .form-row {
    margin-bottom: 15px;
}
.form-row input[type="text"], 
.form-row input[type="email"], 
.form-row textarea {
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px;
    width: 95%;
    line-height: 35px;
    border: none;
    border-bottom: 3px dotted  #181818;
    outline: none;
 }
 .form-row textarea {
    resize: none;
 }
 .form-row .btn_black {
    margin: auto;
 }
 .form-row label {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 18px;
 }

/* footer */
.footer__main {
    background: #181818;
    color: #ffffff;
    min-height: 250px;
}
.footer__main .container {
    display: flex;
    justify-content: space-between;
}
.footer__menu {
    margin-left: 85px;
    padding-top: 45px; 
}
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__link {
    font-size: 18px;
    line-height: 45px;
    font-weight: 450;
}
.footer__menu a {
    color: #ffffff; 
}
.footer__menu a:hover {
    text-decoration: none;
}
.footer__menu .link-top {
    text-decoration: none;
    font-size: 18px;
}
.link-top span {
    display: inline-block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background: #e61bea;
    color: #000000;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 25px;
}
.footer__social {
    padding-top: 45px;
}
.footer__copyright {
    margin-bottom: 35px;
}

/* social */
.social__group_column {
    position: fixed; 
    left: 10px; 
    top: 20%; 
    z-index: 10;
}
.social-btn {
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 35px;
    height: 35px; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center center;
    font-size: 0;  
}
.social__group_column .social-btn-vk {
    background-image: url("./../img/icons/social-icons-vk.png");
}
.social__group_column .social-btn-in {
    background-image: url("./../img/icons/social-icons-in.png");
}
.social__group_column .social-btn-wa {
    background-image: url("./../img/icons/social-icons-wa.png");
}
.social__group_column .social-btn-vk:hover,
.social__group_column .social-btn-in:hover,
.social__group_column .social-btn-wa:hover,
.social__group_row .social-btn-vk:hover,
.social__group_row .social-btn-in:hover,
.social__group_row .social-btn-wa:hover  {
    background-color: #e61bea;
}
.social__group_row a {
    background-color: #ffffff;
    margin-right: 8px;
}
.social__group_row .social-btn-vk {
    background-image: url("./../img/icons/social-icons-vk-bl.png");
}
.social__group_row .social-btn-in {
    background-image: url("./../img/icons/social-icons-in-bl.png");
}
.social__group_row .social-btn-wa {
    background-image: url("./../img/icons/social-icons-wa-bl.png");
}


/*shop*/
.banner__shop .banner__collection {
    position: absolute;
    margin-left: 320px;
    width: 750px;
}
.banner__collection_inner .collection__image {
    width: 350px;
    height: 450px;
    margin-bottom: 45px;
}
.banner__collection_inner .collection__image:hover {
    border: none;
}
.banner__shop .banner__collection_inner h2 {
    position: absolute;
    top: 25px;
    left: -145px;
    width: 300px;
    margin: 0;
    text-align: left;
    font-size: 90px;
    line-height: 80px;
    font-weight: 700;
    text-transform: lowercase;
    z-index: 2;
}
.collection-first,
.collection-second,
.collection-third,
.collection-fourth {
    position: relative;
    z-index: 1;
}
.collection-first .see-first,
.collection-second .see-second,
.collection-third .see-third,
.collection-fourth .see-fourth {
    position: absolute;
    margin: 0;
    width: 350px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.7;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    z-index: 1; 
    display: none;
}
.collection-first:hover .see-first,
.collection-second:hover .see-second,
.collection-third:hover .see-third,
.collection-fourth:hover .see-fourth{
    display: block;    
}
.collection-first .see-first {
    top: 410px;
}
.collection-second .see-second {
    top: 410px;
}
.collection-third .see-third {
    bottom: 45px;
}
.collection-fourth .see-fourth {
    bottom: 45px;
    right: 0;
}
